<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    footer{
       background-color: black;
    }
    h5,p{
        color: white;
    }
  a{
        color: white;
    }
    #g{
        color: white;
    }
</style>
</head>
<body>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">My digital library</h5>
        <p>I AM VIVEK PANDEY FROM AIT . THIS WEBSITE IS DESIGNED IN </BR>DJNANGO(PYTHON FRAMEWORK).</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Web site inks</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'about' %}">About us</a>
          </li>
          <li>
            <a href="{% url 'contact' %}">Contact us</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Users links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">User info</a>
          </li>
          <li>
            <a href="#!">Booking status</a>
          </li>
          <li>
            <a href="#!">Payement</a>
          </li>
          <li>
            <a href="#!">Recipt</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" id="g">© 2018 Copyright:
    <a href="{% url 'home' %}"> DIGITAL LIBRARY.COM</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</html>